@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-5 mb-2">Here's a picture of a cute baby penguin</h1>
    <p class="text-center display-6 mb-5" style="color: red;">Don't you want to click on him?</p>

    <a href="@Url.Action("Index", "Movies")"><img src="~/images/penguin.jpg" alt="cute baby penguin" width="300" height="480"/></a>
</div>