@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4 mb-5">Here's a picture of a cute baby penguin</h1>
    <img src="~/images/penguin.jpg" alt="cute baby penguin" width="500" height="800"/>
    <a href="@Url.Action("Index", "Movies")"><p class="text-center">Now come take a look at our movies</p></a>
</div>