@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="mb-5">@ViewData["Title"]</h1>
<div class="container text-center">
    <h2 class="mb-4">What do you mean privacy? How are we supposed to make money? give us all your data. YEEESSS, GOOOD BOYYY</h2>
    <img src="/images/give me all.webp"/>
</div>